.popover-carts {
  .pop-cart-body {
    .pop-cart-content {
      display: flex;
      flex-direction: column;
      gap: 15px;

      .food {
        display: flex;
        gap: 5px;
      }

      .img {
        width: 50px;
        height: 50px;
      }
    }
  }
}
